*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}





.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: 
  spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%, 15% {
  transform: rotate(0);
}
100% {
  transform: rotate(360deg);
}
}

.loaded{
    display: none;
}

/* loading section finishes */


/* menu section starts */


.navbar {
  width: 100%;
  /* background-color: #555; */
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.navbar a {
  /* float: left; */
  display: flex;
  justify-content:center ;
  padding: 12px;
  align-items: center;
  
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

#main{
width: 80%;
display: flex;
flex-wrap:wrap ;
flex-direction: column;
margin: 30px auto;
}


#btn-form{
display: flex;
flex-wrap: wrap;
justify-content:center;
margin: 30px 0px;
}

#btn2{
display: none;
}

#btn,#btn2,#btn3{
font-size: 2em;
padding: 11px;
margin: 0px 10px;
background-color: #04AA6D;
color: white;
transition: all 2sec ease-in-out;

}
#btn.active,#btn2.active,#btn3.active{
box-shadow: 0px 0px 0px 0px;
}

/* api part starts here */

#api{
margin-left:300px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 40px;

}
#api-head{
margin: 0px 200px  50px 200px;
color: #398AB9;
font-weight: bold;
text-decoration: underline;
}
.shadowbox {
width: 25em;
height: auto;
color: #008037;
border: 2px solid black;
box-shadow: 8px 8px 5px lightgrey;
padding: 8px 12px;
}
#temp{
margin-left:300px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 40px;

}
#temp-head{
margin: 0px 0px  0px 200px;
color: #398AB9;
font-weight: bold;
text-decoration: underline;
}

#forecast{
margin-left:300px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 40px;
}

#forecast-weather{
margin-left:300px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 40px;
}

#box{
width: 100%;
border: 2px solid black;
box-shadow: 8px 8px 5px lightgrey;
margin: 20px auto;
padding: 20px;
border-radius: 5px;
}

#cards{
padding: 50px 0px!important;
}

.w3-container{
background-color: white;
}

#health-suggestions{
color: black;
}

#health{
display: flex;
flex-wrap: wrap;
justify-content:center;
align-items: center;
flex-direction:column ;
}

/* #collapse{
display: none;
} */

#footer {
/* width: 80%; */
margin: 0px auto;
background: lightgrey;
border-bottom: 2px solid #04AA6D;
border-top: 2px solid #04AA6D;
text-align: center;  
color: black;
font-size: 0.8em;
padding: 10px;
line-height: 16px;
clear: both;
}

#footer a { text-decoration: none; color: #A2AFBF; border-bottom: 1px dashed #A2AFBF; }
#footer a:hover { border-bottom: 1px dashed #fff; color: #fff; }

#box h4{
color: #398AB9!important;
}

#health-range{
  margin: 5px auto !important;
}