
/* 
............... */


body.dark-theme {
    background-color: white;
    color: black;
  }
  
  .text-container {
    max-width: 600px;
    text-align: center;
  }

  h1{
    color: black;
  }
  
  h2 {
    margin-bottom: 0;
  }
  
  h3 {
    color: #0054B0;
  }
  
  p {
    letter-spacing: 1px;
    color: black;
  }
  
  body.dark-theme a.active{
    color: white;
  }
  body.dark-theme p {
    color: black;
  }
  body.dark-theme a:hover {
    background-color: #04AA6D;
  }
  body.dark-theme i {
    color: black;
  }
  body.dark-theme a:hover {
    color: white;
  }
  body.dark-theme h1 {
    color: black;
  }
  
  .toggle input[type=checkbox] {
    display: none;
  }
  
  .toggle label {
    background-color: white;
    border: 2px solid #555;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 70px;
    height: 30px;
  }
  
  .toggle label::after {
    background-color: #555;
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: all ease-in-out 0.3s;
    width: 22px;
    height: 22px;
  }
  
  .toggle input[type=checkbox]:checked ~ label {
    background-color: #00a0fc;
    border-color: #006dc9;
  }
  
  .toggle input[type=checkbox]:checked ~ label::after {
    background-color: #0054B0;
    transform: translateX(40px);
  }
  
  .fa {
    color: #fff
}

.fa:hover {
    color: #fff
}

.dd{
  display: block;
}