<div id="footer">
    Copyright &copy; 2025 Kuki. All Rights Reserved.<br />  
    <!-- If you would like to use this template, I ask that you keep the following line of code intact -->
    Design by Noob Koda</div>
  
  
  <!-- scripts -->
  <script src="Scripts/loading.js"></script>
  <script src="Scripts/loader.js"></script>
  <script src="Scripts/theme.js"></script>
  <!-- <script src="Scripts/script.js"></script> -->
  <!-- <script src="Scripts/address.js"></script> -->
  </body>
  </html>