<header style="display: grid; grid-template-columns: 2fr 1fr;">
    <div><h1 style="font-size: 2.5rem; margin: 0px 10px;">Kuki</h1></div>
    <div class="navbar">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> 
        <a href="#"><i class="fa fa-credit-card"></i> Pricing</a> 
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
        <a href="/login" target="_blank"><i class="fa fa-fw fa-user"></i> Login</a>
        <div class="toggle" style="display: flex;flex-wrap: wrap;justify-content: center;align-items: center;">
            <input type="checkbox" id="toggle" />
            <label for="toggle"></label>
          </div>
      </div>
</header>